<%= simple_form_for(@project) do |f| %>
  <%= f.input :title, placeholder: "Title" %>
  <%= f.input :tagline, placeholder: "Tagline" %>
  <%= f.input :project_type, collection: %w(exhibition project) %>
  <%= f.rich_text_area :rich_body, placeholder: "Text" %>
  <%= f.input :institution_name, placeholder: "Institution name" %>
  <%= f.input :institution_address, placeholder: "Institution address" %>
  <%= f.input :artists, placeholder: "Artists included" %>
  <%= f.input :date, html5: true, input_html: { data: { controller: "flatpickr" } }   %>
  <%= f.input :date, html5: true, input_html: { data: { controller: "flatpickr" } }   %>
  <%= f.input :end_date, html5: true, input_html: { data: { controller: "flatpickr" } }   %>
  <%= f.input :cover, as: :file, label: :photo %>
  <div class="btn w-100 dashboard-button">
    <%= f.submit %>
  </div>
  <br>
  <br>
  <br>
<% end %>
