<div class="container-main margin-from-navbar">

  <div class="article-top">
    <div class="article-header">

      <div class="header-info-project">

        <% if @project.institution_name %>
          <p class="header-author" style="font-size: smaller;"><%= @project.institution_name.upcase %></p>
        <% end %>

        <p class="header-date"><%= @project.date.strftime("%-d %B %y") %>
          <% if @project.end_date %>
            <span class="text-dark">to</span> <%= @project.end_date.strftime("%-d %B %y") %>
          <% end %>
        </p>
      </div>

      <div class="header-title">
        <div class="d-flex">
          <h1><%= @project.title.upcase %></h1>
          <% if current_user && current_user.admin? %>
            <%= link_to  "🖋", edit_project_path(@project) %>
          <% end %>
        </div>

        <% if !@project.artists.empty? %>
          <p style="color: grey; font-size: smaller;">with <%= @project.artists %></p>
        <% end %>

      </div>

    </div>

      <% if @project.cover.attached? %>
        <%= cl_image_tag(@project.cover.key) %>
      <% else %>
        <img src="https://source.unsplash.com/random" alt="">
      <% end %>



  </div>


  <p id="project-text"><%= @project.rich_body %></p>
  <div class="border-bottom border-dark mb-4"></div>

  <div class="masonry-grid" data-controller="lightbox">

  <% if  @project.photos.attached? %>
    <% @project.photos.each do |photo| %>
      <%= cl_image_tag photo.key, class: "grid-item"%>
    <% end %>
    </div>
    <div class="article-border-bottom mt-2"></div>
  <% end %>

</div>
