<h2 class="mb-3">Your Moodboard</h2>
<%= simple_form_for(@user, url: registration_path(@user), html: { method: :put }, data: { controller: "preview" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

      <%= f.input :moodboard,
                  as: :file,
                  # input_html: { multiple: true },
                  label: :moodboard,
                    input_html: {
                    multiple: true,
                    class: 'd-none',
                    data: { preview_target: "input" }
                  }, label_html: { class: 'upload-photo'}, label: '📷 Add your moodboard' %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  label: false,
                  placeholder: "Your current password",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", class: "w-100 dashboard-button", id: "text-white" %>
  </div>
  <div class="w-100">
    <ul class="masonry masonry-col-2 w-100 pt-3 list-style-none" id="preview" data-preview-target="list">

      <% if @moodboard %>
        <% @moodboard.each do |pin| %>
          <li class="item" data-preview-target="previews"><%= cl_image_tag pin.key %></li>
        <% end %>
      <% end %>

    </ul>
    <%= image_tag "",
                width: 100,
                class: "hidden",
                data: { preview_target: "preview" } %>
  </div>

  <br>
  <br>
  <br>
<% end %>
