<h2 class="mb-3">Your Profile</h2>
<%= simple_form_for(@user, url: registration_path(@user), html: { method: :put }, data: { controller: "preview" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="d-flex w-100 justify-content-between">
      <%= f.input :avatar,
                  as: :file,
                  label: :avatar,
                  input_html: {
                  class: 'd-none',
                  data: { preview_target: "input" }
                }, label_html: { class: 'upload-photo'}, label: '📷 Add a portrait' %>
      <div class="w-50">
        <%= image_tag "",
                    width: 100,
                    class: "hidden",
                    data: { preview_target: "preview" } %>
      </div>
    </div>
    <%= f.input :cv, as: :file, label: :cv %>
    <% if @cv %>
      <a id="cv-downloader" target="_blank" href="<%= cl_image_path @cv %>">Download my cv</a>
    <% end %>
    <br>
    <br>
    <%= f.input :bio,
                # label: false,
                placeholder: "Bio",
                required: false %>
    <%= f.input :contact_mail,
                # label: false,
                placeholder: "Contact mail",
                hint: "This is the mail you want to show on the contact page",
                required: false %>
    <%= f.input :quotes,
                # label: false,
                placeholder: "Quotes",
                hint: "Say something fun for your footer!",
                required: false %>
    <%= f.input :email, required: true, autofocus: true %>

    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", class: "w-100 dashboard-button", id: "text-white" %>
  </div>
  <br>
  <br>
  <br>
<% end %>
